{{ define "main" -}}
<div class="meta">
  {{ if .Date -}}
  <div>{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</div>
  {{ end -}}
  {{ $taxo := "tags" -}}
  {{ if .Param $taxo -}}
  <div>
    {{ range .Param $taxo -}}
      {{ $name := . -}}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) -}}
    <span><a href="{{ .Permalink }}">#{{ $name }}</a></span>
      {{ end -}}
    {{ end -}}
  </div>
  {{ end -}}
</div>
<div class="content">
  {{ .Content -}}
</div>
{{ if and (gt .WordCount 0 ) (default true .Params.toc) }}
<div class="side" style="position: fixed; right:50px; max-width:255px; overflow:auto; top: 120px; width: 220px; bottom:90px">
{{ partial "toc.html" . }}
</div>
{{ end }}
<!-- comment -->
{{ if eq .Section "post" }}
{{ partial "comment.html" . }}
{{ end }}
<!-- end of comment -->
{{ end -}}
